<%= form_for @assignment, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :educationalUse, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :educationalUse, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :intendedEndUserRole, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :intendedEndUserRole, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :timeRequired, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :timeRequired, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :typicalAgeRange, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :typicalAgeRange, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :interactivityType, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :interactivityType, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :learningResourceType, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :learningResourceType, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :commonCore, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :commonCore, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :useRightsUrl, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :useRightsUrl, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :isBasedOnUrl, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :isBasedOnUrl, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :author, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :author, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :publisherId, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :publisherId, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :inLanguage, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :inLanguage, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                assignments_path, :class => 'btn' %>
  </div>
<% end %>
