<h1>Listing assignments</h1>

<table>
  <tr>
    <th>Author</th>
    <th>Common core</th>
    <th>Description</th>
    <th>Educational use</th>
    <th>In language</th>
    <th>Intended end userole</th>
    <th>Interactivity type</th>
    <th>Is based on url</th>
    <th>Learning resource type</th>
    <th>Location</th>
    <th>Publisher</th>
    <th>Time required</th>
    <th>Title</th>
    <th>Typical age range</th>
    <th>Use rights url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.author %></td>
    <td><%= assignment.common_core %></td>
    <td><%= assignment.description %></td>
    <td><%= assignment.educational_use %></td>
    <td><%= assignment.in_language %></td>
    <td><%= assignment.intended_end_userole %></td>
    <td><%= assignment.interactivity_type %></td>
    <td><%= assignment.is_based_on_url %></td>
    <td><%= assignment.learning_resource_type %></td>
    <td><%= assignment.location %></td>
    <td><%= assignment.publisher_id %></td>
    <td><%= assignment.time_required %></td>
    <td><%= assignment.title %></td>
    <td><%= assignment.typical_age_range %></td>
    <td><%= assignment.use_rights_url %></td>
    <td><%= link_to 'Show', assignment %></td>
    <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
    <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignment', new_assignment_path %>
