<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @assignment.author %>
</p>

<p>
  <b>Common core:</b>
  <%= @assignment.common_core %>
</p>

<p>
  <b>Description:</b>
  <%= @assignment.description %>
</p>

<p>
  <b>Educational use:</b>
  <%= @assignment.educational_use %>
</p>

<p>
  <b>In language:</b>
  <%= @assignment.in_language %>
</p>

<p>
  <b>Intended end userole:</b>
  <%= @assignment.intended_end_userole %>
</p>

<p>
  <b>Interactivity type:</b>
  <%= @assignment.interactivity_type %>
</p>

<p>
  <b>Is based on url:</b>
  <%= @assignment.is_based_on_url %>
</p>

<p>
  <b>Learning resource type:</b>
  <%= @assignment.learning_resource_type %>
</p>

<p>
  <b>Location:</b>
  <%= @assignment.location %>
</p>

<p>
  <b>Publisher:</b>
  <%= @assignment.publisher_id %>
</p>

<p>
  <b>Time required:</b>
  <%= @assignment.time_required %>
</p>

<p>
  <b>Title:</b>
  <%= @assignment.title %>
</p>

<p>
  <b>Typical age range:</b>
  <%= @assignment.typical_age_range %>
</p>

<p>
  <b>Use rights url:</b>
  <%= @assignment.use_rights_url %>
</p>


<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
