<h1>Listing common_cores</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @common_cores.each do |common_core| %>
  <tr>
    <td><%= common_core.name %></td>
    <td><%= common_core.description %></td>
    <td><%= link_to 'Show', common_core %></td>
    <td><%= link_to 'Edit', edit_common_core_path(common_core) %></td>
    <td><%= link_to 'Destroy', common_core, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Common core', new_common_core_path %>
